    <form ng-show="toggleShowUpdate" class="dataForm">
            <div class="form-group">
              <label for="ProjectName">ProjectName</label>
              <input type="text" class="form-control" id="ProjectName" placeholder="ProjectName" ng-model="projectToEdit.projectName">
            </div>
            <div class="form-group">
              <label for="Contributor">Contributor</label>
              <input type="text" class="form-control" id="Contributor" placeholder="Contributor" ng-model="projectToEdit.contributor">
            </div>
            <div class="form-group">
                    <label for="Contributor">Technologies</label>
                    <input type="text" class="form-control" id="Technologies" placeholder="Technologies" ng-model="projectToEdit.technologies">
            </div>
            <div class="form-group">
                    <label for="Description">Description</label>
                    <textarea class="form-control" id="Description" placeholder="Description" ng-model="projectToEdit.description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" ng-click = "updateProject(projectToEdit)">Update Project</button>
            <button type="submit" class="btn btn-primary" ng-click = "cancel()">Cancel</button>
     </form>